# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
*.swp

# Ignore logs and output files
logs/
*.log

# Ignore database and cache files
*.sqlite3
*.db

# Ignore IDE & Editor Config Files
.idea/
.vscode/.venv/
